

#drawing{
    border: 2px solid bisque;
}

#drawing-other{
    border: 2px solid aqua;
}

#drawing2{
    border: 2px solid blue;
}

#drawing3{
    border: 2px solid gold;
}

#drawing4{
    border: 2px solid antiquewhite;
}